<div>

  <h1 class="mb-10">Xcomponents</h1>

  <.test_menu title="Test1"/>

  <br/>

  <.xlist>
    <:item title="Title">Hello Title</:item>
    <:item title="Views">Hello Views</:item>
  </.xlist>

</div>
